::ng-deep .p-datatable-table{
    padding: 15px;
}

.table-head {
    background-color: #E0E0E0;
}

.text-center {
	text-align: center;
}

.label-success{
    background-color: #27b6af;
}

.label{
    padding: 5px 5px 2px;
    border-radius: 0.25em;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 1;
    font-size: 75%;
    font-weight: 500;
    /* vertical-align: baseline; */
    display: inline;
    white-space: nowrap;
    font-size: 14px;
    font-family: "Lato", "Open Sans", Helvetica, sans-serif !important;
}

.panel-title {
    margin-bottom: 0;
    margin-left: 22px;
  }